<ui-menu></ui-menu>

<ui-menu-detalhes></ui-menu-detalhes>

<div class="container" ng-controller="atividadeCtrl as vm">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Atividade</div>
                <div class="panel-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Data de prazo</label>
                                    <ui-date ng-model="vm.cadastro.prazo"></ui-date>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <textarea class="form-control" rows="5" type="text" placeholder="..." ng-model="vm.cadastro.descricao" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-danger" ng-if="vm.data.status !== 'fechado'" ng-click="vm.finalizar(vm.cadastro)">Finalizar O.S.</button>
                                <button class="btn btn-success" ng-if="vm.data.status === 'fechado'" ng-click="vm.abrir(vm.cadastro)">Reabrir O.S.</button>
                                <button class="btn btn-primary" ng-if="vm.data.status !== 'fechado'" ng-click="vm.salvar(vm.cadastro)">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-repeat="atividade in vm.lista" class="panel panel-default">
                <div class="panel-heading">
                    <span class="label label-success" ng-if="vm.atividade.status === 'aberto'">Aberto</span>
                    <span class="label label-warning" ng-if="vm.atividade.status === 'pendente'">Pendente</span>
                    <span class="label label-info" ng-if="vm.atividade.status === 'fechado'">Fechado</span>
                    <strong>{{vm.atividade.usuario}}</strong> - {{vm.atividade.created_at | date : "dd/MM/yyyy"}}</h3>
                    <a href="" ng-click="vm.excluir(vm.atividade)" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            {{vm.atividade.descricao}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>