<ui-menu></ui-menu>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-actions form-inline">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="buscar" class="form-control" placeholder="Filtrar usuarios...">
                    <div class="input-group-btn">
                        <a class="btn btn-primary" ng-click="cadastrar()">Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div class="panel panel-default">

        <div class="panel-heading">Usuários</div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Exibição</th>
                            <th>E-mail</th>
                            <th>Perfil</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usuario in lista | filter: buscar">
                            <td>{{usuario.exibicao}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.chave}}</td>
                            <td>
                                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>