<ui-menu></ui-menu>

<ui-menu-detalhes></ui-menu-detalhes>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="label label-success" ng-if="chamado.status === 'aberto'">Aberto</span>
                    <span class="label label-warning" ng-if="chamado.status === 'pendente'">Pendente</span>
                    <span class="label label-info" ng-if="chamado.status === 'fechado'">Fechado</span>
                    <span class="label label-danger" ng-if="chamado.status === 'vencido'">Vencido</span> {{chamado.os}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Tipo</strong>
                            <p ng-if="chamado.tipo === 'incidente'">Incidente</p>
                            <p ng-if="chamado.tipo === 'requisição'">Requisição</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Categoria</strong>
                            <p ng-if="chamado.categoria === 'sistema'">Sistema</p>
                            <p ng-if="chamado.categoria === 'infraestrutura'">Infraestrutura</p>
                            <p ng-if="chamado.categoria === 'telefonia'">Telefonia</p>
                            <p ng-if="chamado.categoria === 'aplicacao_web'">Aplicação Web</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Criticidade</strong>
                            <p ng-if="chamado.criticidade === 'alto'">Alto</p>
                            <p ng-if="chamado.criticidade === 'medio'">Médio</p>
                            <p ng-if="chamado.criticidade === 'baixo'">Baixo</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Responsavel pelo atendimento</strong>
                            <p ng-if="chamado.responsavel != null">{{chamado.responsavel}}</p>
                            <p ng-if="chamado.responsavel == null">(Aguardando o primeiro atendimento)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Prazo para atendimento</strong>
                            <p>{{chamado.prazo | date : "dd/MM/yyyy"}}</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Data de término</strong>
                            <p ng-if="chamado.termino != null">{{chamado.termino | date : "dd/MM/yyyy"}}</p>
                            <p ng-if="chamado.termino == null"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Título</strong>
                            <p>{{chamado.titulo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Descrição</strong>
                            <p>{{chamado.descricao}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" ng-click="editar(chamado)">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="" alt="imagem" class="img-thumbnail" style="height: 250px; width: 300px">
        </div>
    </div>
</div>