<ui-menu></ui-menu>

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">Abrir Chamado</div>

        <div class="panel-body">
            <form class="form">
                <div class="row">
                    <div class="col-md-4">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" ng-model="chamado.tipo" required>
                            <option></option>
                            <option value="incidente">Incidente</option>
                            <option value="requisicao">Requisição</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="categoria">Categoria</label>
                        <select class="form-control" ng-model="chamado.categoria" required>
                            <option></option>
                            <option value="sistema">Sistema</option>
                            <option value="infraestrutura">Infraestrutura</option>
                            <option value="telefonia">Telefonia</option>
                            <option value="aplicacao_web">Aplicação Web</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="criticidade">Criticidade</label>
                        <select class="form-control" ng-model="chamado.criticidade">
                            <option></option>
                            <option value="baixo">Baixo</option>
                            <option value="medio">Médio</option>
                            <option value="alto">Alto</option>
                        </select>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="titulo">Título</label>
                            <input class="form-control" type="text" id="titulo" placeholder="..." ng-model="chamado.titulo" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea class="form-control" rows="5" type="text" id="descricao" placeholder="..." ng-model="chamado.descricao" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="imagem">Imagem</label>
                        <input type="file" id="imagem">
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="salvar(chamado)">Salvar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>