<ui-menu></ui-menu>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-actions form-inline">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="buscar" class="form-control" placeholder="Filtrar chamados...">
                </div>
            </div>
        </div>
    </div>

    </br>

    <div class="panel panel-default">

        <div class="panel-heading">Chamados</div>

        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Número</th>
                    <th>Título</th>
                    <th>Categoria</th>
                    <th>Criticidade</th>
                    <th>Data de abertura</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chamado in lista | filter: buscar">
                    <td class="text-success" ng-if="chamado.status === 'aberto'"><strong>Aberto</strong></td>
                    <td class="text-warning" ng-if="chamado.status === 'pendente'"><strong>Pendente</strong></td>
                    <td class="text-info" ng-if="chamado.status === 'fechado'"><strong>Fechado</strong></td>
                    <td class="text-danger" ng-if="chamado.status === 'vencido'"><strong>Vencido</strong></td>
                    <td>{{chamado.os}}</td>
                    <td>{{chamado.titulo | ellipsis: 50}}</td>
                    <td ng-if="chamado.categoria === 'sistema'">Sistema</td>
                    <td ng-if="chamado.categoria === 'infraestrutura'">Infraestrutura</td>
                    <td ng-if="chamado.categoria === 'telefonia'">Telefonia</td>
                    <td ng-if="chamado.categoria === 'aplicacao_web'">Aplicação Web</td>
                    <td class="text-danger" ng-if="chamado.criticidade === 'alto'">Alto</td>
                    <td ng-if="chamado.criticidade === 'medio'">Médio</td>
                    <td ng-if="chamado.criticidade === 'baixo'">Baixo</td>
                    <td>{{chamado.created_at | date : "dd/MM/yyyy" }}</td>
                    <td>
                        <a href="#/chamado/{{chamado.sid}}/chamado-detalhes">
                            <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>