<ui-menu></ui-menu>

<div class="container" ng-controller="usuarioCtrl as vm">

    <div class="row">
        <div class="col-md-12">
            <div class="page-actions form-inline">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="buscar" class="form-control" placeholder="Filtrar usuarios...">
                    <div class="input-group-btn">
                        <a class="btn btn-primary" ng-click="vm.cadastrar()">Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div class="panel panel-default">

        <div class="panel-heading">Usuários</div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Exibição</th>
                            <th>E-mail</th>
                            <th>Perfil</th>
                            <th>Ativo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usuario in lista | filter: buscar">
                            <td>{{usuario.exibicao}}</td>
                            <td>{{usuario.email}}</td>
                            <td ng-if="usuario.chave === 'admin'">Admin</td>
                            <td ng-if="usuario.chave === 'tecnico'">Técnico</td>
                            <td ng-if="usuario.chave === 'usuario'">Usuário</td>
                            <td ng-if="usuario.bloqueado === 0">Sim</td>
                            <td ng-if="usuario.bloqueado === 1">Não</td>
                            <td>
                                <a href="" class="btn btn-default btn-xs" style="border: none; color:#2fa4e7" ng-click="editar(usuario)">
                                    <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>